body {
    font-family: sans-serif;
    background: hsl(120, 80%, 10%);
    padding: .5rem 2rem;
}

p, ul {
    color: hsl(120, 80%, 40%);
}

li {
    margin: 4px 0;
}

.nombre {
    color: #0DBC79;
}

.codigo {
    color: #993FBC;
}

.ruta {
    color: #E5E510;
}

input {
    border: none;
    background: none;
    border-left: 4px solid hsl(120, 80%, 30%);
    display: block;
    width: 100%;
    padding-left: .5rem;
    outline: none;
    font-size: 1.1rem;
    color: hsl(0, 0%, 95%);
    margin-bottom: .5rem;
}

button {
    background: hsl(120, 80%, 35%);
    padding: .3rem 1rem;
    border-radius: 8%;
}

.red {
    color: hsl(0, 80%, 50%);
}

.inputs-de-formularios {
    margin-top: 3rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.inputs-de-formularios label {
    color: hsl(120, 80%, 35%);
}

.inputs-de-formularios input {
    border: none;
    border-bottom: 1px solid #E5E510;
}